* {
    box-sizing: border-box;
}

@font-face {
    font-family: "StarWars";
    src: url("/assets/fonts/StarWars-web.woff") format("woff"),
        url("/assets/fonts/StarWars.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "VenusRising";
    src: url("/assets/fonts/Venus%20Rising.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Oxanium";
    src: url("/assets/fonts/Oxanium/Oxanium-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Oxanium";
    src: url("/assets/fonts/Oxanium/Oxanium-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    background-color: #050505;
}
